<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- orderDB SQL Mapper -->
<mapper namespace="shopping.mapper.OrderMapper">
	<insert id="insertOrder" parameterType="order">
		insert into order(user_id, order_content, order_totalPrice) 
		values(#{user_id}, #{order_content}, #{order_totalPrice})
	</insert>
	<select id="viewMyOrderHistory" parameterType="int" resultType="order">
		select * from order where user_id=#{user_id}
	</select>


</mapper>