<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- productDB SQL Mapper -->
<mapper namespace="shopping.mapper.ProductMapper">
	<select id="selectAll" resultType="product">
		select * from product
	</select>
	
	<select id="selectProductCategory" parameterType="String" resultType="product">
		select * from product where prod_category=#{prod_category}
	</select>
	
	<!-- product Count -->
	<select id="selectProductCount" resultType="int">
	  select count(*) from product
	</select>
	<!-- productCategory Count -->
	<select id="selectProductCategoryCount" parameterType="String" resultType="int">
	  select count(*) from product where prod_category=#{prod_category}
	</select>
	
	
	<!-- get product list for page -->
	<select id="selectProductList" parameterType="hashmap" resultType="product">
		select * from product order by prod_id asc limit #{firstRow}, #{endRow}
	</select>
	
	<!-- get productCategory list for page -->
	<select id="selectProductCategoryList" parameterType="hashmap" resultType="product">
		select * from product where prod_category=#{prod_category} order by prod_id asc limit #{firstRow}, #{endRow}
	</select>
	
	<!-- get product One -->
	<select id="selectOneProduct" parameterType="int" resultType="product">
		select * from product where prod_id=#{prod_id}
	</select>
	

</mapper>