<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- reviewDB SQL Mapper -->
<mapper namespace="shopping.mapper.ReviewMapper">
	<insert id="insertReview" parameterType="review">
		insert into review(prod_id, user_id, user_name, review_content, review_rating) 
		values(#{prod_id}, #{user_id}, #{user_name}, #{review_content}, #{review_rating})
	</insert>
	
	<select id="selectReviewListWithProdId" parameterType="int" resultType="review">
		select * from review where prod_id=#{prod_id}
	</select>
	
	<select id="selectReviewCountWithProdId" parameterType="int" resultType="int">
		select count(*) from review where prod_id=#{prod_id}
	</select>
	
	<select id="selectOneReview" parameterType="int" resultType="review">
		select * from review where review_id=#{review_id}
	</select>


</mapper>