<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- userDB SQL Mapper -->
<mapper namespace="shopping.mapper.UserMapper">
	<insert id="insertUser" parameterType="user">
		insert into user
		(user_name,user_loginId,user_password,user_address,user_birth,user_age,user_phone,user_gender)
		values
		(#{user_name},#{user_loginId},#{user_password},#{user_address},#{user_birth},#{user_age},#{user_phone},#{user_gender})
	</insert>
	<delete id="deleteUser" parameterType="int">
		delete from user where user_id=#{user_id}
	</delete>
	<update id="updateUser" parameterType="user">
		update user
		set user_name = #{user_name},
			user_loginId = #{user_loginId},
			user_password = #{user_password},
			user_address = #{user_address},
			user_birth = #{user_birth},
			user_age = #{user_age},
			user_phone = #{user_phone},
			user_gender = #{user_gender}
		where user_id = #{user_id}
	</update>
	<select id="selectAll" resultType="user">
		select * from user
	</select>
	<select id="selectOne" resultType="user" parameterType="int">
		select * from user where user_loginId=#{user_loginId}
	</select>
	<select id="loginCheck" resultType="String" parameterType="user">
		select user_name from user
		where user_loginId=#{user_loginId} and user_password=#{user_password}
	</select>
	<select id="viewUser" resultType="user" parameterType="user">
		select user_name, user_loginId
		from user 
		where user_loginId=#{user_loginId} and user_password=#{user_password}
	</select>
</mapper>